body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 5px;
}

#stats {
    margin: 10px 0;
    font-size: 18px;
}

#game {
    width: 520px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-gap: 20px;
}

.card {
    width: 120px;
    height: 120px;
    background: #222;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    position: relative;
    perspective: 600px;
}

.inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped .inner {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    background-color: #333;
    transform: rotateY(180deg);
}

.back {
    background: #555;
}

button {
    padding: 10px 20px;
    background: #0a84ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    color: white;
}

#win {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    display: none;
}